:root { 
--white_A700_cc:#ffffffcc; 
--gray_500:#a4a4a4; 
--black_900:#000000; 
--blue_A700:#0065ff; 
--teal_900_3f:#0b6b3d3f; 
--white_A700:#ffffff; 
--gray_50:#fafafa; 
--light_blue_900:#00529c; 
--indigo_500:#3f72af; 
}